/* reglas 
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta header - secction -article */
/* header{
    background-color: pink;
} */

/* selector decendente */
/* body header div nav ol li a */ 

/* selector de clase */
/* .link */

/* selector de id */
/* #potafolio */

/* web para ver colores css */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value */

body{
    font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1{
    font-size: 40px;
    line-height: 150%; /* alto de linea interespaciado */
    letter-spacing: -.2px;
    /* text-transform: capitalize; */ /* poner textos en mayuscula minuscula inicial mayuscula */
    /* text-decoration: underline; */
}
