/* reglas 
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta header - secction -article */
/* header{
    background-color: pink;
} */

/* selector decendente */
/* body header div nav ol li a */ 

/* selector de clase */
/* .link */

/* selector de id */
/* #potafolio */

/* web para ver colores css */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value */

/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1{
    font-size: 40px;
    line-height: 150%; /* alto de linea interespaciado */
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* text-transform: capitalize; */ /* poner textos en mayuscula minuscula inicial mayuscula */
    /* text-decoration: underline; */

}
h1 strong{
    color: #026fff;
}

h2{
    color:  #026fff;
    text-transform: uppercase; /* mayusculas */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
/* quita los estilos que vienen por defecto (cómo la numeración y viñetas) con los elementos de tipo lista usando la propiedad list-style. También deja el padding y margin en cero para evitar espacios en blanco en los bordes de la lista. */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Ahora hay que quitar el margin al <figure> para evitar ese espacio en blanco en la parte superior de nuestro header. */
figure {
    margin: 0;
}

.hero{
    height: 430px;
    /* background-image: url('../images/hero.jpg'); */
    background-color:  #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-image{
 object-fit: over;
}
.portfolio{
    background-color: #fafafa;
    padding: 50px;
}
.project{
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */
    /* border-color: red; */
    /* color: blue;
    border-width: 15px;
    border-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    /* border-top-left-radius: 50px; */
    /* margin: 10px; */
    margin-bottom: 15px;
    /* margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px; */
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project-couse,
.project-date,
.project-url{
    margin: 10px 0;
}
.project strong{
    font-family: 'Fjalla One', sans-serif;
}
.project-description{
    font-size: 20px;
}
/* .project-date{
    margin: 10px 0;
} */
.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}
/* Añade al header un display flex para que los elementos hijos (el <figure> y el <nav>) se alineen en forma horizontal. */
/* Añade la propiedad justify-content con el valor space-between para mandar cada elemento hijo del header a un extremo contrario. El figure a la izquierda y el nav a la derecha. */
.header{
    background-color: #1b2127; 
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px; /* <---- solo agregamos esta linea ancho del elemento padre*/
    align-items: center;
}
.menu { /* .menu hereda de .header */
    height: inherit;
  }
/* Ahora, añade un display flex al selector de lista <ol> para mostrar los elementos de lista<li> de forma horizontal en lugar de vertical. */
.header ol { /* .header ol hereda de .menu */
    display: flex;
    height: inherit;
  }
.header ol li { /* .header ol li hereda de .header ol */
    height: inherit;
  }
/*   Añade display flex a los elementos anchor <a> para poder centrarlos ahora que ya heredaron una altura determinada. */
.header a { /* .header a hereda de .header ol li */
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px; /* <---- solo agregamos esta linea añade un espacio entre los diferentes elementos del menú con un padding superior e inferior de 0 y izquierdo/derecho de 10px.*/
  }

.flexbox{
    display: flex;
    height: 200px;
    /* flex-direction: column; */ /* posiciona las cajas en columna */
    /* flex-direction: row; */ /* posiciona las cajas en fila */
    /* flex-wrap: nowrap; */ /* mantiene los elementos segidos en una fila  */
    flex-wrap: wrap; /* baja los elementos a una sigiente fial al llenar el ancho del contenedor padre */
    /* justify-content: center; */ /* posiciona las cajas al centro */
    /* justify-content: space-around; */ /* deja un espaciado igual a la izquierda y a la derecha de cada caja */
    justify-content: space-evenly; /* deja un espacio igual entre las cajas */
    align-items: center;
    border: 1px solid blue;
}
.box{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;
    flex-shrink: 0; /* capcidad de encojer la caja entre 0 y 1 */ 
    /* align-self: flex-start; */ /* sirve para alinear los elemetos hijos dentro del elemento padre */

}
.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle; /* ajusta al medio los textos con respecto a la imagen*/
}
.footer a{
    color: white;
}
.event-list{
    display: flex;
    flex-wrap: wrap;
}
.event-list-title{
    margin-left: 20px;
}
.event{
    /* border: solid red; */
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden; /* oculta los elementos que se desbordan del contenedor */
    background-color: #f4fbff;
}
.event img{
    width: 480px;
    height: 200px;
    object-fit: cover; /* recota de los bordes la imagen para ajustarla al tamaño del contenedor  */
}
.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-decription{
    text-align: left;
}
.event-url{
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social{
    border: 1px solid red;
}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    margin: 0 10px;
    background-size: 50px 50px;
}
.social-link.twitter{
    background-image: url("");
    
}
.social-link.faccebook{
    background-image: url("");
    
}
.social-link.github{
    background-image: url("");
    
}
.social-link.instagram{
    background-image: url("");
    
}
.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url("");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;

}
.form-email button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}
.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;   
}